<div class="aboutus-container">
    <h2>About Us</h2>
    <p>We are a team of experts in Process Engineering, dedicated
      to creating this Virtual Learning Object as part of our thesis.</p>
    <h3>Our Mission</h3>
    <p>Our mission is to provide an interactive and comprehensive
      learning resource that benefits students and professionals
      interested in Process Engineering.</p>
    <h3>Our Vision</h3>
    <p>We aim to contribute to the advancement and understanding of
      Process Engineering through this thesis and our Virtual Learning
      Object, making knowledge acquisition in this field more accessible.</p>
</div>
