<footer class="mat-footer">

  <div class="side-left">
    <button mat-button routerLink="/aboutus">About us</button>

    <div class="contact-links">
      <button mat-button routerLink="/contact">Contact us</button>
      <div class="contact-links-logos">
        <a href="mailto:ryunezm@unicartagena.edu.co" target="_blank"> <img alt="ryunezm@unicartagena.edu.co"
                                                                           id="img_email"
                                                                           src="assets/logos/email.svg"></a>
        <a href="https://www.linkedin.com/in/ryunezm/" target="_blank"> <img alt="linkedin.com/in/ryunezm"
                                                                             id="img_linkedin"
                                                                             src="assets/logos/In-Blue.svg"> </a>
        <a href="https://github.com/ryunezm" target="_blank"> <img alt="github.com/ryunezm" id="img_github"
                                                                   src="assets/logos/github-mark.svg"> </a>
      </div>
    </div>

  </div>

  <div class="side-right">
    <p>&copy; {{ currentYear }} ryunezm </p>
  </div>

</footer>
