// font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+3')
*
  font-family: "Source Sans 3", sans-serif
// header
.app-header
  position: sticky
  top: 0
  z-index: 100

// footer
.app-footer
  position: sticky
  bottom: 0
  z-index: 100

.border
  height: 4vmax
  max-height: 4vmax
// router
.router-outlet-container
  height: 35vmax
  overflow: auto
