<div class="register-container">
  <form (ngSubmit)="onSubmit()">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your personal information</ng-template>
          <mat-form-field>
            <input matInput placeholder="First name" formControlName="first_name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last name" formControlName="last_name" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your email address</ng-template>
          <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Fill out information about the semester in which you took the class</ng-template>
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select [(ngModel)]="selectedYear">
              <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" id="semester">
            <mat-label id="semester_text">Semester</mat-label>
            <mat-select formControlName="semester" label="Semester">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Fill out your password</ng-template>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" required type="password">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <button mat-button type="submit">Submit</button>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
