<app-card>
  <mat-card class="container">
    <mat-card-header>
      <mat-card-title class="title">LOGIN</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" id="login-form">

        <!--Username field-->
        <mat-form-field appearance="outline">
          <mat-label for="username">Username</mat-label>
          <input formControlName="username" id="username" matInput name="username" required type="text">
        </mat-form-field>

        <!--Password field-->
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input formControlName="password" id="password" matInput name="password" required type="password">
        </mat-form-field>

        <!--Login button-->
        <button color="primary" mat-flat-button type="submit">Log in</button>

        <!--Forgot and register-->
        <div class="link-container">
          <a mat-button> Forgot password? </a>
          <a class="register-link" mat-button routerLink="/register">Register</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</app-card>
