<app-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <!--    Username field-->
    <mat-form-field appearance="outline">
      <mat-label for="username">Username</mat-label>
      <input formControlName="username" id="username" matInput name="username" required type="text">
    </mat-form-field>
    <!--    Password field-->
    <mat-form-field appearance="outline">
      <mat-label for="password">Password</mat-label>
      <input formControlName="password" id="password" matInput name="password" required type="password">
    </mat-form-field>
    <!--    Login button-->
    <button mat-raised-button type="submit">Log in</button>
    <div class="link-container">
      <a routerLink="/register" class="register-link">Register</a>
    </div>
  </form>
</app-card>
